@using BilgiListeleme2.Models
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBLCustomerVdsList>
@{
    ViewBag.Title = " List of data";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2>Cats Müşteri Paneli</h2>
    <div class="col-md-10">
        <a style="float: right; margin-top: -5%; margin-right: -189px;" href="/Home/VeriEkle/" class="btn btn-primary">Ekle</a>
    </div>

    <div class="col-md-2" style="float:right">
        <label for="exampleDataList" class="form-label">

            @using (Html.BeginForm("Index", "", FormMethod.Get))
            {
                <span class="input-group" style="background-color:#ffffff"><i class="glyphicon glyphicon-filter">@Html.TextBox("p")</i></span>
            }
        </label>
    </div>

<table class="table caption-top">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Şirket İsmi</th>
            <th scope="col">Vds İp</th>
            <th scope="col">Vds Kullanıcı Adı</th>
            <th scope="col">Vds şifre</th>
            <th scope="col">Uzak Masaüstü</th>
            <th scope="col">Güncelle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <th scope="row">@x.Id</th>
                <td>@x.Sirketİsmi</td>
                <td>@x.Vdsİp</td>
                <td>@x.VdsName</td>
                <td>@x.VdsPassword</td>
                <td><a href="/Home/RemoteDesk/@x.Id" class="btn btn-info" type="button">Uzak Masaüstü</a></td>
                <td><a href="/Guncelle/Index/@x.Id" class="btn btn-warning" type="button">güncelle</a></td>
                <td><a href="/Guncelle/VeriSil/@x.Id" class="btn btn-danger">Sil</a></td>
            </tr>
        }
    </tbody>
</table>
<table>
    <tr>
        <td>
            @Html.PagedListPager((IPagedList)Model, Sayfa => Url.Action("Index", new { Sayfa }))
        </td>
        <td>
        </td>
    </tr>
</table>




