@model CatsArayuz.Models.TBLVdsListe

@{
    ViewBag.Title = "AdminRemoteDesk";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container">
    <h2>Cats Müşteri Paneli</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            @using (Html.BeginForm("", "", FormMethod.Post))
            {


                <div class="form-group">
                    <table class="table caption-top">
                        <tr>


                            <th scope="col">
                                <label>Şirket Id</label>

                            </th>
                            <th scope="col">
                                <label>Şirket Adı</label>


                            </th>
                            <th scope="col">

                                <label>TeamViewer</label>


                            </th>
                            <th scope="col">

                                <label>TeamViewer Şifresi</label>


                            </th>
                            <th scope="col">

                                <label>AnyDesk</label>


                            </th>
                            <th scope="col">
                                <label>AnyDesk Şifrsi</label>

                            </th>
                            <th scope="col">
                                <label>SplashTop</label>

                            </th>
                            <th scope="col">
                                <label>SplashTop Şifrsi</label>

                            </th>
                            <th scope="col">

                                <label>Notlar</label>


                            </th>

                            <th scope="col">
                                <label>&nbsp;</label>
                            </th>
                        </tr>
                        <tr>
                            <td scope="row">
                                @Html.DisplayFor(y => y.Id, new { @class = "form-control" })
                            </td>
                            <td scope="row">
                                @Html.DisplayFor(y => y.SirketAdı, new { @class = "form-control" })
                            </td>
                            <td scope="row">
                                @Html.DisplayFor(y => y.TeamViewer, new { @class = "form-control" })
                            </td>
                            <td scope="row">
                                @Html.DisplayFor(y => y.TeamViewerPw, new { @class = "form-control" })
                            </td>
                            <td scope="row">
                                @Html.DisplayFor(y => y.AnyDesk, new { @class = "form-control" })
                            </td>
                            <td scope="row">
                                @Html.DisplayFor(y => y.AnyDesk, new { @class = "form-control" })
                            </td>
                            <td scope="row">
                                @Html.DisplayFor(y => y.SplashTop, new { @class = "form-control" })
                            </td>
                            <td scope="row">
                                @Html.DisplayFor(y => y.SplashTopPw, new { @class = "form-control" })
                            </td>
                            <td scope="row">
                                <a class="btn btn-primary" href="/Home/Index">Geri Dön</a>
                            </td>
                        </tr>
                    </table>
                </div>

            }
        </div>
    </div>
</div>






