@using BilgiListeleme.Models
@{
    ViewBag.Title = "RemoteDesk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RemoteDesktop List</h2>
<table class="table caption-top">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Şirket İsmi</th>
            <th scope="col">TeamViewer</th>
            <th scope="col">TeamViewer Şifre</th>
            <th scope="col">AnyDesk</th>
            <th scope="col">AnyDesk Şifre</th>
            <th scope="col">NotLar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <th scope="row">@x.Id</th>
                <td>@x.Sirketİsmi</td>
                <td>@x.TeamViewer</td>
                <td>@x.TeamViewerPw</td>
                <td>@x.AnyDesk</td>
                <td>@x.AnyDeskPw</td>
                <td>@x.Notes</td>

            </tr>
        }
    </tbody>
</table>


