@model BilgiListeleme.Models.TBLCustomerVdsList
@{
    ViewBag.Title = "Veri Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("RmdGetir", "Home", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                <div class="container" style="width:350px;">
                    <div class="panel panel-default" style="width: 300px;">
                        <div class="panel-body">
                            <label>Şirket Adı</label>
                            @Html.TextBoxFor(y => y.Sirketİsmi, new { @class = "form-control" })

                            <label>Vds Kullanıcı Adı</label>
                            @Html.TextBoxFor(y => y.VdsName, new { @class = "form-control" })

                            <label>Vds Ip</label>
                            @Html.TextBoxFor(y => y.Vdsİp, new { @class = "form-control" })

                            <label>Vds Şifresi</label>
                            @Html.TextBoxFor(y => y.VdsPassword, new { @class = "form-control" })
                            <br />
                            <br />@Html.HiddenFor(y => y.Id, new { @class = "form-control" })
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="container" style="width:350px;">
                    <div class="panel panel-default" style="width:300px;">
                        <div class="panel-body">
                            <label>AnyDesk Id</label>
                            @Html.TextBoxFor(y => y.AnyDesk, new { @class = "form-control" })
                            <label>AnyDesk Şifresi</label>
                            @Html.TextBoxFor(y => y.AnyDeskPw, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <button class="btn btn-info">Güncelle</button>

            </td>
        </tr>
    </table>


}